    {{> header}}

        <section id="viewCatalog" class="background-img">
         {{#if isAuth}}
                {{#each destinations}}
            <div class="added-destinations">
                <a href="#/details/{{id}}" class="added-destination">
                    <img src="{{imageURL}}"
                        alt="" class="picture-added-destination">
                    <h3>{{destination}}</h3>
                    <span> to {{city}} </span><span>{{departureDate}}</span>
                </a>
            </div>
                {{/each}}
            {{else}}
            <div class="guest">
                No destinations possible! Please sign in...
            </div>
        {{/if}}
        </section>
        {{> footer}}
